body{
  margin: 0px;
}
h1{
  font-family: fantasy;
  border-bottom: 5px solid pink;
  width: 400px;
  height: 50px;
  text-align: center;
  border-right: 5px solid pink;
  box-shadow: 4px 4px 5px #8888;
  margin-top: 10px;

}
img{
  width : 450px;
  height: 300px;
  margin: 20px 10px;
  transition: all 1s;
}
img:hover{
  transform:  scale(1.1);
}
.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
